/*---Footer----*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.sec{
    margin-right: 19px;
}
.aboutus{
    width: 20%;
}
h2{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}
h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
p{
color: #c5c5c5;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color:#3d3d3d;;
    background: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}
.sci li a:hover{
    background: rgb(163, 32, 214);
    color: white;
}
.sci li a .fa{
    color: #3d3d3d;
    font-size: 20px;
}
.quickLinks{
    position: relative;
    width: 25% ;
}
ul li{
    list-style: none;
}
ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
ul li a:hover{
    color: #fff;
}
span {
    display: none;
  }
  li:hover span {
    display: initial;
  }
hr{
    height: 1px;
    border: none;
    background: white;
    padding-bottom: 0px;
    width: 88%;
}
.copyrightText{
    width: 100%;
    background: #262b47;
    padding-top: 5px;
    text-align: center;
}
@media(max-width: 1375px){

.container{
        flex-direction: column;
    }
.container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
.container .sec,.aboutus,.quickLinks,.contact{
        width: 100%;
    }
    .copyrightText{
        padding-top: 5px;
    }
}
/*---Footer----*/